<div class="container-fluid">
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/home">Boston<span class="color">Health</span></a>
        </div>
        <div class="navbar ">
            <ul class="nav navbar-nav pull-right">

                <li><a href="#/home">Home</a></li>
                <li class="active"><a href="#/search">Find Doctor</a></li>
                <li><a href="#/patient">Profile</a></li>
                <li><a href="#/login">Login</a></li>
            </ul>
        </div>
        <div id="custom-search-input">
            <div class="input-group col-md-12">
                <input type="text" class="form-control input-lg"
                       placeholder="Search Doctor By Name"
                       ng-model="searchText"/>
                <span class="input-group-btn">
                <button class="btn btn-info btn-lg" type="button" ng-click="model.searchDoctors(searchText)">
                <i class="glyphicon glyphicon-search"></i>
                </button>
                </span>
            </div>
        </div>
    </nav>
</div>

<div class="container search-results">
    <div class="row">
        <div ng-repeat="doc in model.doctors">
            <div ng-class="row">
            <div>
                <ng-include class="col-sm-4" src="'views/user/search-template.view.client.html'"></ng-include>
            </div>
        </div>


    </div>
</div>

</div>
