<div class="thumbnail" style="height:350px; width:350px;">
    <img class="group list-group-image" ng-src="{{doc.profile.image_url}}" />
    <div class="caption">
        <h5 class="group inner list-group-item-heading">
            {{doc.profile.first_name}} {{doc.profile.last_name}}</h5>
        <p class="group inner list-group-item-text" ng-repeat="p in doc.practices" ng-show="$index==0">
            {{p.name}}
        </p>
        <br>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <strong>Specialties:</strong>
                <div class="tags"ng-repeat="s in doc.specialties | limitTo : 3">
                    {{s.name}}
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <span class="btn btn-success btn-sm" href=""><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
        </div>
    </div>
</div>