<nav class="navbar navbar-primary navbar-fixed-top">
            <div class="row container-fluid">
                <div class="col-sm-4 hidden-xs">
                    <div class="navbar-text pull-left">
                        <a href="#/user/{{model.website.developerId}}/website">
                            <span class="glyphicon glyphicon-menu-left"></span>
                        </a>
                    </div>
                    <div class="navbar-text pull-right">
                        <a href="#/user/{{model.website.developerId}}/website/new">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#/user/{{model.website.developerId}}/website">Websites</a>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="navbar-text pull-right">
                        <a ng-click="#/user/{{model.website.developerId}}/website">
                            <span class="glyphicon glyphicon-ok"></span>
                        </a>
                    </div>
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Edit Website</a>
                    </div>
                </div>
            </div>
        </nav>


        <div class="row container-fluid">
            <!-- website list: not visible by phones and smaller devices --->
            <div class="col-sm-4 hidden-xs">
                <ul class="list-group">
                    <li ng-repeat="website in model.websites" class="list-group-item">
                        <a href="#">
                            {{website.name}}
                        </a>
                        <a href="#/user/{{model.website.developerId}}/website/{{website._id}}" class="pull-right">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </li>
                </ul>
                </ul>
            </div>

            <!-- website edit section -->
            <div class="col-sm-8 web-edit">
                <div class="form-group">
                    <label for="webName">Website Name:</label>
                    <input ng-model="model.website.name" type="text" class="form-control" id="webName" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="desc">Description:</label>
                    <textarea  ng-model = "model.website.description" class="form-control" rows="4" id="desc" placeholder="Description"></textarea>
                </div>
                <a ng-click="model.updateWebsite(website)" class="btn btn-success btn-block">Update</a>
                <a ng-click="model.deleteWebsite()" class="btn btn-danger btn-block"
                   href="#/user/{{model.website.developerId}}/website">Delete</a>
            </div>
        </div>

        <nav class="navbar navbar-primary navbar-fixed-bottom">
            <div class="container-fluid">
                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.website.developerId}}" class="navbar-link">
                <span class="glyphicon glyphicon-user">
                </span>
                    </a>
                </p>
            </div>
        </nav>
