<nav class="navbar navbar-primary navbar-fixed-top">
    <p class="navbar-text pull-left">
        <a class="navbar-link" href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-menu-left">
                </span>
        </a>
    </p>
    <div class="navbar-header">
        <a class="navbar-brand" href="#/user/{{model.userId}}/website/">
            Websites
        </a>
    </div>
    <p class="navbar-text pull-right">
        <a href="#/user/{{model.userId}}/website/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus">
                    </span>
        </a>
    </p>
</nav>

<div class="website-list-container">
    <ul class="list-group">
        <li ng-repeat="website in model.websites" class="list-group-item">
            <a href="#" class="list-group-item">
                <a href="#/user/{{model.userId}}/website/{{website._id}}/page">{{website.name}}</a>
                <p class="pull-right">
                    <a href="#/user/{{model.userId}}/website/{{website._id}}"
                       class="glyphicon glyphicon-cog glyphi-1 gly"></a>
                </p>
            </a>
        </li>
    </ul>
</div>

</div>
</div>


<nav class="navbar navbar-primary navbar-fixed-bottom">
    <div class="navbar-text pull-right">
        <a href="#/user/{{model.userId}}">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>
