<div class="step2">
    <h5>Demographics</h5>
    <hr>
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4"> 
            <label>Indicate Your Sex*</label> 
            <label class="radio-inline">  <input type="radio" name="sex"> Male  </label> 
            <label class="radio-inline"> <input type="radio" name="sex"> Female </label> 
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label for="dob">Select Date of Birth</label>
            <input id="dob" class="form-control" type="datetime" placeholder="mm/dd/yyyy">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <select>
                <option value="native">American Indian/ Alaska Native</option>
                <option value="asian">Asian</option>
                <option value="black">Black/ African American</option>
                <option value="pi">Native Hawaiian or Other Pacific Islander</option>
                <option value="other">Other or Multiracial</option>
            </select>
            <input type="checkbox">
            <label>Hispanic</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label>Enter Height in feet and inches </label>
        </div>
        <div class="col-md-offset-2 col-xs-6">
            <label>Enter Weight in pounds</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            <input class="form-control" type="number" placeholder="feet">
        </div>
        <div class="col-xs-1">
            <input class="form-control" type="number" placeholder="inches">
        </div>
        <div class="col-md-offset-4 col-xs-3">
            <input class="form-control" type="number" placeholder="weight">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4">
            <label>Marital Status</label><br>
            <select>
                <option value="single">Single</option>
                <option value="dp">In a Domestic Partnership</option>
                <option value="married">Married</option>
            </select>
        </div>
        <div class="col-md-offset-2 col-xs-4">
            <label>Sexual Orientation</label><br>
            <select>
                <option value="hetero">Heterosexual</option>
                <option value="homo">Homosexual</option>
                <option value="bisex">Bisexual</option>
                <option value="pan">Pansexual</option>
                <option value="asex">Asexual</option>
                <option value="other">Other</option>
            </select>
        </div>
    </div>
</div>