<div class="step2">
    <h5>Demographics</h5>
    <hr>
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4"> 
            <label>Indicate Your Sex*</label> 
            <label class="radio-inline"> 
                <input type="radio" name="sex" value="Male" ng-model="user.sex"/>
                 Male
                  </label> 
            <label class="radio-inline">
                <input type="radio" name="sex" value="Female" ng-model="user.sex"/>
                Female 
            </label> 
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label for="dob">Select Date of Birth</label>
            <input id="dob" class="form-control" type="date" placeholder="mm/dd/yyyy" ng-model="user.dob">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <select ng-model="user.race">
                <option value="Native American">American Indian or Alaska Native</option>
                <option value="Asian">Asian</option>
                <option value="Black">Black or African American</option>
                <option value="Caucasian">White or Caucasian</option>
                <option value="Pacific Islander">Native Hawaiian or Other Pacific Islander</option>
                <option value="Other">Other or Multiracial</option>
            </select>
            <input type="checkbox" ng-model="user.hispanic">
            <label>Hispanic</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label>Enter Height in feet and inches </label>
        </div>
        <div class="col-md-offset-2 col-xs-6">
            <label>Enter Weight in pounds</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            <input class="form-control" type="number" placeholder="feet" ng-model="user.heightFeet">
        </div>
        <div class="col-xs-1">
            <input class="form-control" type="number" placeholder="inches" ng-model="user.heightInches">
        </div>
        <div class="col-md-offset-4 col-xs-3">
            <input class="form-control" type="number" placeholder="weight" ng-model="user.weight">
        </div>
    </div>

</div>