<div class="container-fluid">
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand">Boston<span class="color">Health</span></a>
        </div>

        <div class="navbar ">
            <ul class="nav navbar-nav pull-right">
                <li><a href="#/home">Home</a></li>
                <li><a href="#/search">Find Doctor</a></li>
                <li class="active"><a href="#/patient">Profile</a></li>
                <li><a href="#/login">Login</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <br>
        <div role="form">
            <h2>Patient Profile
                <small></small>
            </h2>
            <div class="row">
                <!-- Contact form section -->
                <h4>Contact Information</h4>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input type="text" name="first_name" id="first_name" class="form-control input-md"
                               ng-model="model.user.firstName" tabindex="1">
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input type="text" name="last_name" id="last_name" class="form-control input-md"
                               ng-model="model.user.lastName" tabindex="2">
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6"></div>
                <div class="form-group">
                    <input type="email" name="email" id="email" class="form-control input-md"
                           ng-model="model.user.email" tabindex="4">
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="password" name="password" id="password" class="form-control input-md"
                                   ng-model="model.user.password" tabindex="5">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-8">
                        <div class="form-group">
                            <input type="tel" name="phone" id="phone" class="form-control input-md"
                                   ng-model="model.user.phone">
                        </div>
                    </div>
                    <!--/Contact form section -->
                </div>
                </form>
            </div>
        </div>
        <div class="pull-right">
            <a class="btn btn-lg btn-skin" ng-click="model.editProfile(model.user)">Update</a>
            <a class="btn btn-lg btn-danger" href="#/home">Delete Account</a>
        </div>
    </div>
</div>