<div class="container-fluid">
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand">Boston<span class="color">Health</span></a>
        </div>

        <div class="navbar ">
            <ul class="nav navbar-nav pull-right">
                <li><a href="#/home">Home</a></li>
                <li><a href="#/search">Find Doctor</a></li>
                <li class="active"><a href="#/patient">Profile</a></li>
                <li><a href="#/login">Login</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <br>
        <div role="form">
            <h2>Patient Profile
                <small></small>
            </h2>
            <div class="row">
                <!-- Contact form section -->
                <h4>Contact Information</h4>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input type="text" name="first_name" id="first_name" class="form-control input-md"
                               value="John" tabindex="1">
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input type="text" name="last_name" id="last_name" class="form-control input-md"
                               value="Smith" tabindex="2">
                    </div>
                </div>
                <div class="form-group">
                    <input type="email" name="email" id="email" class="form-control input-md"
                           value="john.smith@hotmail.com" tabindex="4">
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="password" name="password" id="password" class="form-control input-md"
                                   value="john" tabindex="5">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <div class="form-group">
                            <input type="tel" name="cell" id="cell" class="form-control input-md"
                                   value="555-342-9023">
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <div class="form-group">
                            <input type="tel" name="home" id="home" class="form-control input-md"
                                   value="563-766-3454">
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <div class="form-group">
                            <input type="tel" name="work" id="work" class="form-control input-md"
                                   placeholder="Work phone">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <select>
                            <option class="disabled">Preferred Method of Communication</option>
                            <option>Call Cell Phone</option>
                            <option>Text Cell Phone</option>
                            <option>Home Phone</option>
                            <option>Work Phone</option>
                            <option>Email</option>
                        </select>
                    </div>
                    <!--/Contact form section -->
                </div>

                <hr>
                <div class="row">
                    <!-- Demographics form section -->
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <h4>Demographics</h4>
                        <label for="dob">Date of Birth</label>
                        <div class="form-group">
                            <input type="date" name="dob" id="dob" class="form-control input-md date-select">
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <p class="instruction">Indicate Your <strong>Sex</strong></p>
                        <label class="radio-inline">
                            <input type="radio" name="sex" value="true" checked="checked"> Male
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="sex"> Female
                        </label>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <p class="instruction">Please enter your gender here if it differs from your sex</p>
                        <input type="text" name="gender" class="form-control input-md">
                    </div>
                    <!-- /Demographics form section --->
                </div>
                <hr>
                <div class="row">
                    <!-- Medical History Form section -->
                    <div class="col-sm-6">
                        <h4>Medical History</h4>
                        <div class="row">
                            <div class="col-sm-8">
                                <label>Please check to indicate if you have been diagnosed with the following 
                                    conditions</label>
                                <select multiple size="15">
                                    <option value="diabetes">Diabetes</option>
                                    <option value="kidney">Kidney Disease</option>
                                    <option value="stroke">Stroke</option>
                                    <option value="tb">Tuberculosis</option>
                                    <option value="hbp">High Blood Pressure</option>
                                    <option value="hep">Hepatitis</option>
                                    <option value="depress">Depression</option>
                                    <option value="cad">Coronary Artery Disease</option>
                                    <option value="asthma">Asthma</option>
                                    <option value="thyroid">Thyroid Disease</option>
                                    <option value="emphysema">Emphysema</option>
                                    <option value="heartAttack">Heart Attack</option>
                                    <option value="anxiety">Anxiety</option>
                                    <option value="coag">Coagulation problem</option>
                                    <option value="chf">Congestive Heart Failure</option>
                                    <option value="std">Sexually Transmitted Disease</option>
                                    <option value="cancer">Cancer</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- /Medical history form section -->
                </div>
                </form>
            </div>
        </div>
        <div class="pull-right">
            <a class="btn btn-lg btn-skin" href="#/home">Update</a>
        </div>
    </div>
</div>