input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 60px;
}

.navbar.navbar-primary.navbar-fixed-top {
    background: #337ab7;;
}

.navbar-primary .navbar-brand {
    color: white;
}


.navbar.navbar-primary.navbar-fixed-bottom {
    background: #337ab7;
}
span.glyphicon {
    color: white;
    margin-right: 15px;
}

span.page.glyphicon {
    color: #777;
}

span.page.glyphicon.glyphicon-user, .web-edit.glyphicon.glyphicon-cog, .page-edit.glyphicon {
    color: #337ab7;
}

table.borderless td,table.borderless th{
    border: none !important;
}

.verticalLine {
    border-left: thick solid #000000;
}

.new-page, .new-web, ul.list-group.list-hover{
    margin-top: 30px;
}
span.pull-right.glyphicon.glyphicon-menu-hamburger {
    color: black;
    font-size: large;
}

span.pull-right.glyphicon.glyphicon-cog {
    color: #337ab7;
    font-size: large;
}

.main .page-header {
    margin-top: 0;
}

@media (min-width: 800px) {
    .sidebar {
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        border-right: 1px solid #000;
    }
}

li > div.container-fluid {
    padding: 5px;
}
