<nav class="navbar navbar-default navbar-fixed-top">
    <p class="navbar-text pull-left">
        <a class="navbar-link" href="#/page-list">
                <span class="page glyphicon glyphicon-menu-left">
                </span>
        </a>
    </p>
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            Pages
        </a>
    </div>
    <p class="navbar-text pull-right">
        <a href="#/page-list" class="navbar-link">
                    <span class="page glyphicon glyphicon-ok">
                    </span>
        </a>
    </p>
</nav>
<div class="container">
    <div class="new-page">
        <h4>Name</h4>
        <input class="form-control" type="text" placeholder="Page Name">
        <h4>Title</h4>
        <input class="form-control" type="text" placeholder="Page Title">
    </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class=" navbar-text pull-right">
        <a href="#/profile">
            <span class="page glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>
