<nav class="navbar navbar-default navbar-fixed-top">
    <p class="navbar-text pull-left">
        <a class="navbar-link" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                <span class="page glyphicon glyphicon-menu-left">
                </span>
        </a>
    </p>
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            Edit
        </a>
    </div>
    <p class="navbar-text pull-right">
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
                    <span class="page glyphicon glyphicon-ok">
                    </span>
        </a>
    </p>
</nav>
<div class="container">
    <div class="new-page">
        <h4>Name</h4>
        <input ng-model="model.page.name" class="form-control" type="text" placeholder="Blog Post">
        <h4>Title</h4>
        <input ng-model="model.page.title" class="form-control" type="text" placeholder="Page Title">
        <div class="form-group">
            <label for="desc">Description:</label>
            <textarea  ng-model = "model.page.description" class="form-control" rows="4" id="desc" placeholder="Description"></textarea>
        </div>
        <a class="btn btn-block btn-danger" ng-click="model.delete()" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">Delete</a>
    </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-text pull-right">
        <a href="#/user/{{model.userId}}">
            <span class="page glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>
