<nav class="navbar navbar-default navbar-fixed-top">
    <p class="navbar-text pull-left">
        <a class="navbar-link" href="#/user/{{model.userId}}/website">
                <span class="page glyphicon glyphicon-menu-left">
                </span>
        </a>
    </p>
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            Pages
        </a>
    </div>
    <p class="navbar-text pull-right">
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new" class="navbar-link">
                    <span class="page glyphicon glyphicon-plus">
                    </span>
        </a>
    </p>
</nav>
<div class="container">
    <div class="borderless">
    <ul class="list-group">
        <li ng-repeat="page in model.pages" class="list-group-item">
            <a href="#">
                {{page.name}}
            </a>
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}/" class="pull-right">
                <span class="web-edit glyphicon glyphicon-cog"></span>
            </a>
        </li>
    </ul>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-text pull-right">
        <a href="#/user/{{model.userId}}">
            <span class="page glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>