<div class="step2">
    <h5>Credentials</h5>
    <hr>
    <div class="row">
        <div class="col-md-4 col-xs-6">
            <label for="specialty">Specializes in: </label><br>
            <input id="specialty" type="text" class="form-control"
                   placeholder="primary care, cardiology, gynecology etc"
                   ng-model="user.specialty">
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <label for="facility">Name of facility</label><br>
            <input id="facility" type="text" class="form-control"
                   placeholder="Enter clinic or hospital name"
                   ng-model="user.facility"/><br>
        </div>
        <br>
    </div>
    <div class="row">
        <div class="col-md-6 column">
            <table class="table table-bordered table-hover" id="education_table">
                <thead>
                <th class="text-center">College/University</th>
                <th class="text-center">Degree</th>
                <th class="text-center">Year of Graduation</th>
                <th></th>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <input type="text" name="college"
                               placeholder="Enter Name of Alma Mater"
                               class="form-control"
                               ng-model="school.name"/>
                    </td>
                    <td>
                        <input type="text" name='degree' placeholder='Degree'
                               class="form-control"
                               ng-model="school.degree"/>
                    </td>
                    <td>
                        <input type="text" name='yrOfGrad'
                               placeholder='Enter Year of Graduation'
                               class="form-control"
                               ng-model="school.yog"/>
                    </td>
                    <td>
                        <a ng-submit='delete_row' class="pull-left btn btn-danger btn-circle">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <a class="btn btn-success pull-left btn-circle">
                <i class="glyphicon glyphicon-plus"> </i> Add More
            </a>
        </div>
    </div>
</div>
