<div class="container">
    <div class="row">
        <section>
            <div class="wizard">
                <div class="wizard-inner">
                    <div class="connecting-line"></div>
                    <ul class="nav nav-tabs" role="tablist" ng-init="tab = 1">

                        <li role="presentation" class="active" ng-class="{active:tab===1}">
                            <a ng-click="tab = 1" data-toggle="tab" role="tab" title="Step 1">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                            </a>
                        </li>

                        <li role="presentation" class="disabled" ng-class="{active:tab===2}">
                            <a ng-click="tab = 2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-list-alt"></i>
                            </span>
                            </a>
                        </li>
                        <li role="presentation" class="disabled" ng-class="{active:tab===3}">
                            <a ng-click="tab = 3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-cloud-upload"></i>
                            </span>
                            </a>
                        </li>

                        <li role="presentation" class="disabled" ng-class="{active:tab===4}">
                            <a ng-click="tab = 4" data-toggle="tab" aria-controls="complete" role="tab"
                               title="Complete">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-thumbs-up"></i>
                            </span>
                            </a>
                        </li>
                    </ul>
                </div>

                <form role="form">
                    <div class="tab-content">
                        <div class="tab-pane active" role="tabpanel" ng-show="tab === 1">
                            <div class="step1">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="firstName">First Name</label>
                                        <input type="text" class="form-control" id="firstName"
                                               placeholder="First Name">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="lastName">Last Name</label>
                                        <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="email">Email address</label>
                                        <input type="email" class="form-control" id="email" placeholder="Email">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="confirmEmail">Confirm Email address</label>
                                        <input type="email" class="form-control" id="confirmEmail"
                                               placeholder="Confirm Email">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="userName">Choose a Username</label>
                                        <input type="text" class="form-control" id="userName" placeholder="username">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="password">Password</label>
                                        <input type="password" class="form-control" id="password">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="cpassword">Confirm Password</label>
                                        <input type="password" class="form-control" id="cpassword">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="phoneNum">Office Phone Number</label>
                                        <input type="email" class="form-control" id="phoneNum"
                                               placeholder="(xxx)-xxx-xxxx">
                                    </div>
                                </div>
                            </div>
                            <ul class="list-inline pull-right">
                                <li>
                                    <button type="button" class="btn btn-primary next-step" ng-click="tab = 2">
                                        Continue
                                    </button>
                                </li>
                            </ul>
                        </div>


                        <div class="tab-pane active" role="tabpanel" ng-show="tab === 2">
                            <div class="step2">
                                <div class="row">
                                    <div class="col-md-6 col-xs-6">
                                        <h5>Select a Job Title</h5>
                                        <select id="jobTitle">
                                            <option value="dr">Doctor</option>
                                            <option value="np">Nurse Practioner</option>
                                            <option value="pa">Physician Assistant</option>
                                            <option value="rn">Nurse - Registered Nurse (RN)</option>
                                            <option value="cns">Nurse - Certified Nursing Specialist(CNS)
                                            </option>
                                            <option value="ph">Pharmacist</option>
                                        </select>
                                    </div>


                                    <div class="col-md-4 col-xs-6">
                                        <h5>Select All Specialities That Apply</h5>
                                        <select multiple>
                                            <option>Primary Care</option>
                                            <option>Allergy and Asthma</option>
                                            <option>Anesthesiology</option>
                                            <option>Cardiology</option>
                                            <option> Dermatology</option>
                                            <option>Endocrinology</option>
                                            <option>Gastroenterology</option>
                                            <option>General surgery</option>
                                            <option>Hematology</option>
                                            <option>Immunology</option>
                                            <option>Infectious disease</option>
                                            >
                                            <option>Nephrology</option>
                                            <option>Neurology</option>
                                            >
                                            <option>Obstetrics/gynecology</option>
                                            >
                                            <option>Oncology</option>
                                            >
                                            <option>Ophthalmology</option>
                                            <option>Orthopedics</option>
                                            >
                                            <option>Otorhinolaryngology</option>
                                            <option>Physical therapy and rehabilitative medicine</option>
                                            <option>Psychiatry</option>
                                            <option>Pulmonary</option>
                                            <option>Radiology</option>
                                            <option>Rheumatology</option>
                                            >
                                            <option>Urology</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <label for="facility">Name of facility</label><br>
                                        <input id="facility" type="text" class="form-control"
                                               placeholder="Enter clinic or hospital name"><br>
                                    </div>
                                    <br>
                                </div>
                                <div class="row">
                                    <div class="col-md-9 column">
                                        <table class="table table-bordered table-hover" id="education_table">
                                            <thead>
                                            <tr>
                                                <th class="text-center">College/University</th>
                                                <th class="text-center">Degree</th>
                                                <th class="text-center">Year of Graduation</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <input type="text" name="college"
                                                           placeholder="Enter Name of Alma Mater"
                                                           class="form-control"/>
                                                </td>
                                                <td>
                                                    <input type="text" name='degree' placeholder='Degree'
                                                           class="form-control"/>
                                                </td>
                                                <td>
                                                    <input type="text" name='yrOfGrad'
                                                           placeholder='Enter Year of Graduation'
                                                           class="form-control"/>
                                                </td>
                                                <td>
                                                    <a id='delete_row' class="pull-left btn btn-danger btn-circle">
                                                        <i class="glyphicon glyphicon-remove"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr id='addr1'></tr>
                                            </tbody>
                                        </table>
                                        <a id="add_row" class="btn btn-success pull-left btn-circle">
                                            <i class="glyphicon glyphicon-plus"> </i> Add More
                                        </a>
                                    </div>
                                </div>
                                <br>


                            </div>
                            <ul class="list-inline pull-right">
                                <li>
                                    <button type="button" class="btn btn-info prev-step" ng-click="tab = 1">Previous
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-primary" ng-click="tab = 3">Continue</button>
                                </li>
                            </ul>
                        </div>


                        <div class="tab-pane active" role="tabpanel" ng-show="tab === 3">
                            <div class="step3">
                                <div class="row">
                                    <div class="col-md-5">
                                        <h5>Upload Documents</h5>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="med_license">Required: Upload Medical License</label>
                                        <input id="med_license" class="form-control" type="file">
                                    </div>
                                </div>
                            </div>
                            <ul class="list-inline pull-right">
                                <li>
                                    <button type="button" class="btn btn-info" ng-click="tab = 2">Previous</button>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-primary" ng-click="tab = 4">
                                        Continue
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane active" role="tabpanel" ng-show="tab === 4">
                            <div class="step4">
                                <h5>Registration Completed!</h5>
                                <hr>
                                <a ng-click="tab = 3" class="btn btn-info">Previous</a>
                                <a href="#/doctor" class="btn btn-success pull-right">Submit</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>