<nav class="navbar navbar-default navbar-fixed-top">
    <p class="navbar-text pull-left">
        <a class="navbar-link" href="#/widget-list">
                <span class="page glyphicon glyphicon-menu-left">
                </span>
        </a>
    </p>
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
           Choose Widget
        </a>
    </div>
</nav>

<div class="container">
    <!-- TODO  ng-repeat-->
    <ul class="list-group list-hover">
        <li class="list-group-item">
            <a href="#/widget-heading">Header</a>
        </li>
        <li class="list-group-item">
            <a href="#">Label</a></li>
        <li class="list-group-item">
            <a href="#">HTML</a>
        </li>
        <li class="list-group-item">
            <a href="#">Text Input</a>
        </li>
        <li class="list-group-item">
            <a href="#/widget-heading">Link</a>
        </li>
        <li class="list-group-item">
            <a href="#/widget-heading">Button</a>
        </li>
        <li class="list-group-item">
            <a href="#/widget-image"> Image</a>
        </li>
        <li class="list-group-item">
            <a href="#/widget-youtube">YouTube</a>
        </li>
        <li class="list-group-item">
            <a href="#">Data Table</a>
        </li>
        <li class="list-group-item">
            <a href="#">Repeater</a>
        </li>
    </ul>

</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="row navbar-text pull-right">
        <a href="#/profile">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>
</body>
</html>