<nav class="navbar navbar-primary navbar-fixed-top">
    <p class="navbar-text pull-left">
        <a class="navbar-link" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="page glyphicon glyphicon-menu-left">
                </span>
        </a>
    </p>
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
           Choose Widget
        </a>
    </div>
</nav>

<div class="container">

    <ul class="list-group list-hover">
        <li class="list-group-item">
            <a  href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/">Header</a>
        </li>

        <li class="list-group-item">
            <a href="#">HTML</a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.createWidget(model.widget)"> Image</a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.createWidget(model.widget)">YouTube</a>
        </li>
    </ul>

</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="row navbar-text pull-right">
        <a href="#/user/{{model.userId}}">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>
</body>
</html>