<nav class="navbar navbar-default navbar-fixed-top">
    <p class="navbar-text pull-left">
        <a class="navbar-link" href="#/widget-list">
                <span class="page glyphicon glyphicon-menu-left">
                </span>
        </a>
    </p>
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            Widget Edit
        </a>
    </div>
    <p class="navbar-text pull-right">
        <a href="#/widget-list" class="navbar-link">
                    <span class="page glyphicon glyphicon-ok">
                    </span>
        </a>
    </p>
</nav>
<div class="container">
    <div class="new-page">
        <h5>Name</h5>
        <input class="form-control" type="text">
        <h5>Text</h5>
        <input class="form-control" type="text">
        <h5>URL</h5>
        <input class="form-control" type="text">
        <h5>Width</h5>
        <input class="form-control" type="text">
        <a href="#/widget-list" class="btn btn-block btn-danger">Delete</a>
    </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <p class="row navbar-text pull-right">

        <a href="#/profile">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </p>
</nav>
