<nav class="navbar navbar-default navbar-fixed-top">
    <p class="navbar-text pull-left">
        <a class="navbar-link" href="#/page-list">
                <span class="page glyphicon glyphicon-menu-left">
                </span>
        </a>
    </p>
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            Widgets
        </a>
    </div>
    <p class="navbar-text pull-right">
        <a href="#/widget-choose" class="navbar-link">
                    <span class="page glyphicon glyphicon-plus">
                    </span>
        </a>
    </p>
</nav>

<div class="container">
    <!-- first page header -->
    <div class="row">
        <div ng-repeat="widget in model.widgets" class="page-header">
            <h1>{{widget.header}}</h1>
            <a href="#/widget-heading">
                <span class="pull-right glyphicon glyphicon-cog"></span>
            </a>
            <a href="#">
                <span class="pull-right glyphicon glyphicon-menu-hamburger"></span>
            </a>
        </div>
    </div>
</div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <p class="navbar-text pull-left">
        <a href="#">
            <span class="glyphicon glyphicon-triangle-right"></span>
        </a>
        <a href="#">
            <span class="glyphicon glyphicon-eye-open"></span>
        </a>
    </p>
    <p class="navbar-text pull-right">

        <a href="#/profile">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </p>
</nav>