<div class="container">
    <div class="new-page">
        <h5>Name</h5>
        <input  ng-model="model.widget.name" class="form-control" type="text">
        <h5>Text</h5>
        <input ng-model="model.widget.text" class="form-control" type="text">
        <h5>Size</h5>
        <input ng-model="model.widget.size" class="form-control" type="text">

        <a ng-click="model.updateWidget(model.widget)" class="btn btn-info btn-block">
            Update
        </a>
        <a ng-click="model.deleteWidget()" class="btn btn-block btn-danger">Delete</a>
    </div>

</div>
