
<div class="container">
    <div class="new-page">
        <h5>Name</h5>
        <input ng-model="model.widget.name" class="form-control" type="text">
        <h5>Text</h5>
        <input ng-model="model.widget.text" class="form-control" type="text">
        <h5>URL</h5>
        <input ng-model="model.widget.url" class="form-control" type="text">
        <h5>Width</h5>
        <input ng-model="model.widget.width" class="form-control" type="text">

        <a ng-click="model.updateWidget(model.widget)" class="btn btn-block btn-info">Update</a>
        <a ng-click="model.deleteWidget(model.widgetId)" class="btn btn-block btn-danger">Delete</a>
    </div>

</div>

